.page {
    background-image: url("/lobby_background.jpg");
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    background-attachment: fixed; /* Keeps background fixed while content scrolls */
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }