.page {
  position: relative;
  min-height: 100vh;
  width: 100%;
  /* z-index: 1; */
}

.page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.6; /* Set opacity for the background image */
  /* z-index: -1; */
}

.page > * {
  position: relative;
  /* z-index: 1;  */
}

.room_header {
  font-size: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.room_text {
  font-size: 20px;
  margin: 5px;
}

.card {
  width: 500px;
  height: 190px;
  /* background-color: rgba(255, 255, 255, 0.9); */
  /* border: none; */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 20px;
  flex-wrap: nowrap;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.float-right {
  float: right;
  /* float: inline-end; */
  position: fixed;
}