.container {
    margin-top: 90px;
}

.hoverCard {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hoverCard:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
