.container {
  background-image: url('/gameroom-playing-page.jpg');
  display: grid;
  grid-template-areas:
    "top top top"
    "left center right"
    "bottom bottom bottom";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.playerBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.playerBlock .row {
  display: flex;
  gap: 5px;
}

.card {
  width: 50px;
  height: 70px;
}

.player0 {
  grid-area: top;
}

.player1 {
  grid-area: left;
  justify-content: flex-end;
}

.player2 {
  grid-area: right;
  justify-content: flex-start;
}

.player3 {
  grid-area: bottom;
}
